# Soft Real-Time job servers support

# ALEX adicionou isto
# Copyright (c) 2024 Instituto Superior de Engenharia do Porto (ISEP)
# SPDX-License-Identifier: Apache-2.0

#########################
#                       #
#   nothing here yet    #
#                       #
#########################